@model  UserListModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-6">
        <h3>Information of the person to be added to the account</h3>
        <p>
            User Name : @Model.Name
        </p>
        <p>
            User Surname : @Model.Surname
        </p>
        <p>
            Number of active accounts of the user : <getAccountCount application-user-id="@Model.Id"></getAccountCount>
        </p>
    </div>
    <div class="col-6">
        <h4>Adding Process</h4>
        <form method="post" asp-action="Create" asp-controller="Account">
            <input type="hidden" name="ApplicationUserId" value="@Model.Id" />
            <div class="mb-3">
                <label class="form-label"> Account Number </label>
                <input type="number" name="AccountNumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Balance </label>
                <input type="number" name="Balance" class="form-control" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary"> Save </button>
            </div>
        </form>
    </div>
</div>